<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- BREADCRUMB -->
  <div id="breadcrumb" class="section"
       th:fragment="breadcrumb(firstLayerPageName, secondLayerPageName, currentPage)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="breadcrumb-header" th:text="${currentPage==null}?#{text.category}:${currentPage}">Tên trang hiện tại</h3>
          <ul class="breadcrumb-tree">
            <li>
              <a th:href="@{/index}" th:text="#{navigation.homePage}">Home</a>
            </li>
            <li th:if="${firstLayerPageName != null && currentPage != null}">
              <a th:href="@{/{firstLayer}(firstLayer=${firstLayerPageName})}"
                 th:text="#{${'category.'+firstLayerPageName}}">
                Category
              </a>
            </li>
            <li th:if="${secondLayerPageName != null}">
              <a th:href="@{/{firstLayer}/{secondLayer}(firstLayer=${firstLayerPageName}, secondLayer=${secondLayerPageName})}"
                 th:text="#{${'category.'+secondLayerPageName}}">
                Second Layer
              </a>
            </li>
            <li class="active" th:text="${currentPage==null}?#{text.category}:${currentPage}">Current Page</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- /BREADCRUMB -->
</body>
</html>