<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- BREADCRUMB -->
  <div id="breadcrumb" class="section" th:fragment="breadcrumb">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <h3 class="breadcrumb-header">Điền tên trang ở đây</h3>
          <ul class="breadcrumb-tree">
            <li><a th:href="@{/index}">Home</a></li>
            <li class="active">Điền tên trang ở đây</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /BREADCRUMB -->
</body>
</html>