<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <nav id="navigation" th:fragment="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav navbar-nav">
          <li class="active"><a th:href="@{/index}">Trang chủ</a></li>
          <li><a th:href="@{/softwares}">Tất cả sản phẩm</a></li>
          <li><a href="#">Văn phòng</a></li>
          <li><a href="#">Đồ họa</a></li>
          <li><a href="#">Âm thanh</a></li>
          <li><a href="#">Phần mềm khác</a></li>
        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
    <!-- /container -->
  </nav>
</body>
</html>