#title {
    font-size: 3rem;
    text-align: center;
    font-weigh: 600;
}
#admin_list {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    td,th {
        text-align: center;
        padding: 1.25rem;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 0.75rem;
        align-items: center;
        justify-content: center;

        button {
            padding: 0.8rem 1.2rem;
            border-radius: 5px;
            color: aliceblue;
            border: none;
        }

        .deleteBtn {
            background-color: rgb(218, 39, 75);
        }

        .updateBtn {
            background-color: rgb(0, 153, 10);
        }
    }


    td.pName {
        text-align: left;
        padding: inherit 3rem inherit 3rem;
    }
    td.pPrice {
        text-align: right;
        padding: inherit 3rem inherit 3rem;
    }
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}